@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --color-background: #ede8e1; */
    --color-background: #fcf8f2;
    --color-background-lighter: #fefff1;
    /* --color-primary: #a52422; */
    --color-primary: #ed3d3d;
    --color-secondary: #bea57d;
    --color-text: #080f0f;
    --color-text-light: #eeeeee;
    --color-text-muted: #2c2c2c;
    --color-text-light-muted: #e4e2e2;
    --color-border: #ffffff;
}

body {
    @apply bg-[var(--color-background)];
}

section {
    @apply py-12 md:py-24;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    @apply font-header uppercase tracking-tighter font-extrabold;
    font-size: clamp(2.5rem, 5vw, 7rem);
    line-height: 1;
}

h3 {
    @apply font-header font-extrabold text-4xl;
}

h4 {
    @apply font-header font-extrabold text-3xl md:text-5xl;
}

p {
    @apply max-w-prose font-serif text-lg;
}

a {
    @apply font-serif font-extrabold uppercase;
    color: var(--color-primary);
}

label {
    @apply font-header;
}

@layer components {
    .btn {
        @apply px-8 py-2 bg-[var(--color-primary)] text-lg duration-100 text-white rounded-sm uppercase;
    }
    .btn-disabled {
        @apply cursor-not-allowed bg-gray-400;
    }

    .btn:hover {
        filter: brightness(120%);
    }
    .btn:active {
        filter: brightness(90%);
    }

    .animation-underline {
        display: block;
        position: relative;
    }

    /* Fade in */
    .animation-underline::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: currentColor;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .animation-underline:hover::after,
    .animation-underline:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
    }
}

@font-face {
    font-family: Manrope;
    src: url("~/assets/fonts/Manrope.ttf") format(truetype);
}
@font-face {
    font-family: CrimsonPro;
    src: url("~/assets/fonts/CrimsonPro.ttf") format(truetype);
}
@font-face {
    font-family: Archivo;
    src: url("~/assets/fonts/Archivo.ttf") format(truetype);
}
@font-face {
    font-family: Chivo;
    src: url("~/assets/fonts/Chivo.ttf") format(truetype);
}
@font-face {
    font-family: Inter;
    src: url("~/assets/fonts/Inter.ttf") format(truetype);
}
@font-face {
    font-family: EBGaramond;
    src: url("~/assets/fonts/EBGaramond.ttf") format(truetype);
}
